In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Women Entrepreneurs Meetup (Responses).xlsx', engine='openpyxl')

In [3]:
df.head()

,Timestamp,Full Name,City,Brief about your start-up
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.

In [4]:
df.shape

(98, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   98 non-null     datetime64[ns]
 1   Full Name                   98 non-null     object
 2   City                        98 non-null     object
 3   Brief about your start-up   98 non-null     object
dtypes: datetime64[ns](1), object(3)
memory usage: 3.2+ KB

In [6]:
import nltk
from nltk.tokenize import word_tokenize

In [7]:
df.rename(columns={'Brief about your start-up ': 'Start-up'}, inplace=True)

In [8]:
df.head()

,Timestamp,Full Name,City,Start-up
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  98 non-null     datetime64[ns]
 1   Full Name  98 non-null     object
 2   City       98 non-null     object
 3   Start-up   98 non-null     object
dtypes: datetime64[ns](1), object(3)
memory usage: 3.2+ KB

In [10]:
def remove_punctuation(text):
    import string
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

In [11]:
df['Start-up'] = df['Start-up'].apply(remove_punctuation)

In [12]:
df.head()

,Timestamp,Full Name,City,Start-up
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup

In [13]:
from nltk.corpus import stopwords
import numpy as np

In [14]:
sw = stopwords.words('english')
np.array(sw)

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [15]:
len(sw)

179

In [16]:
def stop_words(text):
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    return " ".join(text)

In [17]:
df['Start-up'] = df['Start-up'].apply(stop_words)
df.head(10)

,Timestamp,Full Name,City,Start-up
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,make handmade products home related knitted dr...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,working professional
3,2020-08-20 18:21:00.268,Monika,Chennai,really new idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,working road safety startup
5,2020-08-21 09:23:57.012,Shyamasree,New Delhi,started however interested join session learn ...
6,2020-08-21 17:18:26.105,Sanaya Nayak,Jabalpur,took part startup program held indore year 201...
7,2020-08-21 21:27:13.276,Sanjana Pathak,Pune,plume french academy french learning academy b...
8,2020-08-23 22:52:37.490,Shetty S,Bangalore,interests venture food processing packaging di...
9,2020-08-24 01:06:08.886,Yakshika Vats,Ghaziabad,managing family business looking forward broad...

In [18]:
from nltk.probability import FreqDist
fdist = FreqDist()

In [19]:
for data in df['Start-up']:
    for words in data.split():
        fdist[words.lower()] += 1

In [20]:
fdist

FreqDist({'startup': 11, 'women': 11, 'ngos': 10, 'working': 9, 'business': 9, 'financial': 9, 'started': 7, 'well': 7, 'art': 6, 'start': 6, ...})

In [21]:
fdist.most_common(10)

[('startup', 11),
 ('women', 11),
 ('ngos', 10),
 ('working', 9),
 ('business', 9),
 ('financial', 9),
 ('started', 7),
 ('well', 7),
 ('art', 6),
 ('start', 6)]

In [22]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [23]:
def lemma(text):
    text = [lemmatizer.lemmatize(word) for word in text.split()]
    return " ".join(text)

In [24]:
df['startup'] = df['Start-up'].apply(lemma)

In [25]:
df.head()

,Timestamp,Full Name,City,Start-up,startup
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,make handmade products home related knitted dr...,make handmade product home related knitted dre...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,craft based product design,craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,working professional,working professional
3,2020-08-20 18:21:00.268,Monika,Chennai,really new idea,really new idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,working road safety startup,working road safety startup

In [26]:
for data in df['startup']:
    for word in data.split():
        fdist[word.lower()] += 1

In [27]:
fdist.most_common()

[('startup', 24),
 ('ngo', 20),
 ('working', 18),
 ('business', 18),
 ('financial', 18),
 ('woman', 15),
 ('started', 14),
 ('well', 14),
 ('industry', 13),
 ('art', 12),
 ('start', 12),
 ('online', 12),
 ('also', 12),
 ('artha', 12),
 ('samarth', 12),
 ('craft', 11),
 ('women', 11),
 ('based', 10),
 ('development', 10),
 ('venture', 10),
 ('food', 10),
 ('one', 10),
 ('want', 10),
 ('social', 10),
 ('best', 10),
 ('marketing', 10),
 ('company', 10),
 ('health', 10),
 ('ngos', 10),
 ('make', 8),
 ('home', 8),
 ('professional', 8),
 ('would', 8),
 ('looking', 8),
 ('digital', 8),
 ('work', 8),
 ('student', 8),
 ('content', 8),
 ('like', 8),
 ('made', 8),
 ('awareness', 8),
 ('build', 8),
 ('mentorship', 8),
 ('provide', 8),
 ('planning', 8),
 ('product', 7),
 ('idea', 7),
 ('design', 6),
 ('new', 6),
 ('consultancy', 6),
 ('boutique', 6),
 ('clothing', 6),
 ('mind', 6),
 ('hand', 6),
 ('law', 6),
 ('get', 6),
 ('connecting', 6),
 ('aiming', 6),
 ('young', 6),
 ('indian', 6),
 ('great', 6),
 ('due', 6),
 ('im', 6),
 ('organic', 6),
 ('india', 6),
 ('various', 6),
 ('create', 6),
 ('designing', 6),
 ('aware', 6),
 ('support', 6),
 ('enable', 6),
 ('established', 6),
 ('sse', 6),
 ('products', 5),
 ('run', 5),
 ('entrepreneur', 5),
 ('livelihood', 5),
 ('people', 5),
 ('cup', 5),
 ('handmade', 4),
 ('related', 4),
 ('jewellery', 4),
 ('really', 4),
 ('interested', 4),
 ('learn', 4),
 ('womens', 4),
 ('showcase', 4),
 ('talent', 4),
 ('french', 4),
 ('academy', 4),
 ('learning', 4),
 ('pune', 4),
 ('since', 4),
 ('coaching', 4),
 ('photography', 4),
 ('kishma', 4),
 ('pvt', 4),
 ('ltd', 4),
 ('education', 4),
 ('consultant', 4),
 ('grow', 4),
 ('4', 4),
 ('agency', 4),
 ('focused', 4),
 ('small', 4),
 ('dress', 4),
 ('cricket', 4),
 ('entertainment', 4),
 ('yet', 4),
 ('goal', 4),
 ('first', 4),
 ('life', 4),
 ('trainer', 4),
 ('bakery', 4),
 ('mentorbox', 4),
 ('brings', 4),
 ('collaborate', 4),
 ('mentored', 4),
 ('professionals', 4),
 ('ranging', 4),
 ('topnotch', 4),
 ('google', 4),
 ('facebook', 4),
 ('big', 4),
 ('entrepreneurswe', 4),
 ('mentees', 4),
 ('umbrella', 4),
 ('largest', 4),
 ('communitywe', 4),
 ('offering', 4),
 ('students', 4),
 ('analysiswe', 4),
 ('understood', 4),
 ('although', 4),
 ('extremely', 4),
 ('good', 4),
 ('subject', 4),
 ('matter', 4),
 ('technical', 4),
 ('abilitiesstill', 4),
 ('unable', 4),
 ('globally', 4),
 ('lack', 4),
 ('softskills', 4),
 ('refinement', 4),
 ('actually', 4),
 ('required', 4),
 ('micro', 4),
 ('level', 4),
 ('considering', 4),
 ('introduced', 4),
 ('recent', 4),
 ('change', 4),
 ('educational', 4),
 ('curriculum', 4),
 ('travel', 4),
 ('handcrafted', 4),
 ('imagiminds', 4),
 ('field', 4),
 ('stem', 4),
 ('tech', 4),
 ('conducted', 4),
 ('school', 4),
 ('provided', 4),
 ('exposure', 4),
 ('right', 4),
 ('way', 4),
 ('legal', 4),
 ('macrame', 4),
 ('paper', 4),
 ('sculpture', 4),
 ('jute', 4),
 ('story', 4),
 ('catering', 4),
 ('providing', 4),
 ('soon', 4),
 ('rural', 4),
 ('aspiring', 4),
 ('end', 4),
 ('yoga', 4),
 ('initially', 4),
 ('2', 4),
 ('website', 4),
 ('app', 4),
 ('pure', 4),
 ('currently', 4),
 ('medium', 4),
 ('wrt', 4),
 ('holding', 4),
 ('vision', 4),
 ('see', 4),
 ('achieving', 4),
 ('sustainable', 4),
 ('sdgs', 4),
 ('united', 4),
 ('hyderabad', 4),
 ('focus', 4),
 ('strategy', 4),
 ('finance', 4),
 ('ensure', 4),
 ('better', 4),
 ('pricing', 4),
 ('order', 4),
 ('smooth', 4),
 ('year', 3),
 ('experts', 3),
 ('blog', 3),
 ('workshops', 3),
 ('top', 3),
 ('aim', 3),
 ('need', 3),
 ('expert', 3),
 ('workshop', 3),
 ('knitted', 2),
 ('dresses', 2),
 ('road', 2),
 ('safety', 2),
 ('however', 2),
 ('join', 2),
 ('session', 2),
 ('others', 2),
 ('took', 2),
 ('part', 2),
 ('program', 2),
 ('held', 2),
 ('indore', 2),
 ('2018', 2),
 ('empowerment', 2),
 ('culture', 2),
 ('provides', 2),
 ('opportunities', 2),
 ('earn', 2),
 ('plume', 2),
 ('aundh', 2),
 ('interests', 2),
 ('processing', 2),
 ('packaging', 2),
 ('distribution', 2),
 ('hav', 2),
 ('passion', 2),
 ('love', 2),
 ('motivational', 2),
 ('speaker', 2),
 ('leaning', 2),
 ('selectively', 2),
 ('technology', 2),
 ('thanks', 2),
 ('mkr', 2),
 ('team', 2),
 ('managing', 2),
 ('family', 2),
 ('forward', 2),
 ('broaden', 2),
 ('horizens', 2),
 ('entrepreneurship', 2),
 ('training', 2),
 ('marketer', 2),
 ('real', 2),
 ('estate', 2),
 ('startups', 2),
 ('number', 2),
 ('ups', 2),
 ('different', 2),
 ('exploring', 2),
 ('possibility', 2),
 ('indulging', 2),
 ('cityspeaks', 2),
 ('budding', 2),
 ('thinktank', 2),
 ('urban', 2),
 ('research', 2),
 ('civic', 2),
 ('engagement', 2),
 ('brand', 2),
 ('advisor', 2),
 ('independent', 2),
 ('creative', 2),
 ('film', 2),
 ('production', 2),
 ('dont', 2),
 ('till', 2),
 ('called', 2),
 ('beauty', 2),
 ('nest', 2),
 ('homemy', 2),
 ('kurtis', 2),
 ('materials', 2),
 ('stage', 2),
 ('per', 2),
 ('occasion', 2),
 ('satisfaction', 2),
 ('circle', 2),
 ('remotely', 2),
 ('india’s', 2),
 ('remote', 2),
 ('nagpur', 2),
 ('transformation', 2),
 ('coach', 2),
 ('power', 2),
 ('stitched', 2),
 ('crocheted', 2),
 ('sell', 2),
 ('maskcrochet', 2),
 ('growthhacker', 2),
 ('upon', 2),
 ('associated', 2),
 ('impact', 2),
 ('moradabad', 2),
 ('minds', 2),
 ('companies', 2),
 ('individuals', 2),
 ('mentors', 2),
 ('schools', 2),
 ('colleges', 2),
 ('hi', 2),
 ('diana', 2),
 ('fulltime', 2),
 ('vlog', 2),
 ('naughtyandcurly', 2),
 ('heart', 2),
 ('trust', 2),
 ('increasing', 2),
 ('artisans', 2),
 ('involved', 2),
 ('embroidery', 2),
 ('blouse', 2),
 ('stitching', 2),
 ('crochet', 2),
 ('veg', 2),
 ('masala', 2),
 ('motive', 2),
 ('getting', 2),
 ('girls', 2),
 ('seeing', 2),
 ('ratio', 2),
 ('sector', 2),
 ('felt', 2),
 ('something', 2),
 ('finding', 2),
 ('came', 2),
 ('know', 2),
 ('could', 2),
 ('stopped', 2),
 ('going', 2),
 ('fields', 2),
 ('conduct', 2),
 ('willing', 2),
 ('journalism', 2),
 ('emancipation', 2),
 ('durgabai', 2),
 ('deshmukh', 2),
 ('diy', 2),
 ('gift', 2),
 ('virtual', 2),
 ('assistance', 2),
 ('pooja', 2),
 ('wedding', 2),
 ('perfume', 2),
 ('fragrance', 2),
 ('cofounder', 2),
 ('uaceit', 2),
 ('elearning', 2),
 ('portal', 2),
 ('inclusive', 2),
 ('environment', 2),
 ('bringing', 2),
 ('forefront', 2),
 ('homemaker', 2),
 ('basically', 2),
 ('wellness', 2),
 ('organization', 2),
 ('unique', 2),
 ('fruit', 2),
 ('termed', 2),
 ('miracle', 2),
 ('berry', 2),
 ('nutritional', 2),
 ('property', 2),
 ('helping', 2),
 ('potential', 2),
 ('starting', 2),
 ('15', 2),
 ('experience', 2),
 ('connection', 2),
 ('europe', 2),
 ('always', 2),
 ('connect', 2),
 ('journey', 2),
 ('ecommerce', 2),
 ('platform', 2),
 ('directly', 2),
 ('mirror', 2),
 ('elegance', 2),
 ('never', 2),
 ('trendy', 2),
 ('fashionabletraditional', 2),
 ('registered', 2),
 ('section', 2),
 ('8', 2),
 ('improve', 2),
 ('punjab', 2),
 ('ur', 2),
 ('bussins', 2),
 ('ground', 2),
 ('water', 2),
 ('management', 2),
 ('open', 2),
 ('cake', 2),
 ('shop', 2),
 ('franchise', 2),
 ('media', 2),
 ('manufacture', 2),
 ('chemicalfree', 2),
 ('grain', 2),
 ('dissertation', 2),
 ('additive', 2),
 ('manufacturing', 2),
 ('freelancer', 2),
 ('teacher', 2),
 ('agriculture', 2),
 ('marginalised', 2),
 ('though', 2),
 ('blue', 2),
 ('print', 2),
 ('coining', 2),
 ('process', 2),
 ('1', 2),
 ('cafeteria', 2),
 ('pr', 2),
 ('firm', 2),
 ('instructor', 2),
 ('fitness', 2),
 ('representative', 2),
 ('fmcg', 2),
 ('mba', 2),
 ('tutor', 2),
 ('active', 2),
 ('learner', 2),
 ('seizing', 2),
 ('game', 2),
 ('designer', 2),
 ('healthy', 2),
 ('foods', 2),
 ('consuming', 2),
 ('ayurvedic', 2),
 ('main', 2),
 ('objective', 2),
 ('place', 2),
 ('every', 2),
 ('household', 2),
 ('reasonable', 2),
 ('price', 2),
 ('someting', 2),
 ('gshsjsbsvshh', 2),
 ('pursuing', 2),
 ('bcom', 2),
 ('planned', 2),
 ('writing', 2),
 ('marketingweb', 2),
 ('co', 2),
 ('founder', 2),
 ('manzil', 2),
 ('band', 2),
 ('use', 2),
 ('music', 2),
 ('educate', 2),
 ('add', 2),
 ('spread', 2),
 ('sensitive', 2),
 ('consider', 2),
 ('society', 2),
 ('handicraft', 2),
 ('group', 2),
 ('5', 2),
 ('store', 2),
 ('wanted', 2),
 ('proper', 2),
 ('chole', 2),
 ('bhature', 2),
 ('delivery', 2),
 ('current', 2),
 ('scenario', 2),
 ('world', 2),
 ('sharing', 2),
 ('delicious', 2),
 ('memory', 2),
 ('much', 2),
 ('eco', 2),
 ('friendly', 2),
 ('reusable', 2),
 ('educationist', 2),
 ('btob', 2),
 ('name', 2),
 ('indiago', 2),
 ('believing', 2),
 ('helpful', 2),
 ('men', 2),
 ('struggle', 2),
 ('unemployment', 2),
 ('problem', 2),
 ('aimed', 2),
 ('capacities', 2),
 ('non', 2),
 ('government', 2),
 ('knowledge', 2),
 ('application', 2),
 ('goals', 2),
 ('nations', 2),
 ('target', 2),
 ('located', 2),
 ('three', 2),
 ('ie', 2),
 ('rangareddy', 2),
 ('sangareddy', 2),
 ('understand', 2),
 ('newly', 2),
 ('require', 2),
 ('evolving', 2),
 ('laws', 2),
 ('interpret', 2),
 ('act', 2),
 ('governing', 2),
 ('major', 2),
 ('2015', 2),
 ('estimation', 2),
 ('least', 2),
 ('20', 2),
 ('short', 2),
 ('youtube', 2),
 ('take', 2),
 ('relevant', 2),
 ('importance', 2),
 ('penetrating', 2),
 ('capture', 2),
 ('market', 2),
 ('mission', 2),
 ('equip', 2),
 ('country', 2),
 ('guide', 2),
 ('interpreting', 2),
 ('listed', 2),
 ('stock', 2),
 ('exchange', 2),
 ('flow', 2),
 ('educating', 2),
 ('introduction', 2),
 ('changing', 2),
 ('assist', 2),
 ('listing', 2),
 ('believe', 2),
 ('ensuring', 2),
 ('attract', 2),
 ('ability', 2),
 ('strategically', 2),
 ('plan', 2),
 ('utilise', 2),
 ('opportunity', 2),
 ('interest', 2),
 ('material', 2),
 ('individual', 2),
 ('mentor', 2),
 ('college', 2),
 ('artisan', 2),
 ('girl', 2),
 ('capacity', 2),
 ('nation', 2),
 ('friends', 1),
 ('industries', 1),
 ('locations', 1),
 ('tops', 1),
 ('needs', 1),
 ('clients', 1),
 ('spices', 1),
 ('runs', 1),
 ('facts', 1),
 ('surveys', 1),
 ('courses', 1),
 ('items', 1),
 ('ideas', 1),
 ('essentials', 1),
 ('aims', 1),
 ('peoples', 1),
 ('entrepreneurs', 1),
 ('years', 1),
 ('associations', 1),
 ('forums', 1),
 ('crafts', 1),
 ('buyers', 1),
 ('fades', 1),
 ('outfits', 1),
 ('livelihoods', 1),
 ('systems', 1),
 ('activities', 1),
 ('sales', 1),
 ('aspirants', 1),
 ('scriptures', 1),
 ('mystics', 1),
 ('issues', 1),
 ('taboos', 1),
 ('days', 1),
 ('embraces', 1),
 ('blogs', 1),
 ('cups', 1),
 ('plates', 1),
 ('us', 1),
 ('organisations', 1),
 ('services', 1),
 ('customers', 1),
 ('districts', 1),
 ('aspects', 1),
 ('times', 1),
 ('rules', 1),
 ('regulations', 1),
 ('videos', 1),
 ('topics', 1),
 ('practices', 1),
 ('functions', 1),
 ('donors', 1),
 ('assess', 1),
 ('funds', 1),
 ('friend', 1),
 ('location', 1),
 ('client', 1),
 ('spice', 1),
 ('fact', 1),
 ('survey', 1),
 ('course', 1),
 ('item', 1),
 ('essential', 1),
 ('association', 1),
 ('forum', 1),
 ('buyer', 1),
 ('fade', 1),
 ('outfit', 1),
 ('system', 1),
 ('activity', 1),
 ('sale', 1),
 ('aspirant', 1),
 ('scripture', 1),
 ('mystic', 1),
 ('issue', 1),
 ('taboo', 1),
 ('day', 1),
 ('embrace', 1),
 ('plate', 1),
 ('u', 1),
 ('organisation', 1),
 ('service', 1),
 ('customer', 1),
 ('district', 1),
 ('aspect', 1),
 ('time', 1),
 ('rule', 1),
 ('regulation', 1),
 ('video', 1),
 ('topic', 1),
 ('practice', 1),
 ('function', 1),
 ('donor', 1),
 ('ass', 1),
 ('fund', 1)]

In [28]:
diff_work = ['ngo', 'business', 'financial', 'art', 'craft', 'venture', 'food', 'social', 'marketing', 'company', 'health', 'ngos',
       'digital', 'mentorship', 'design', 'boutique', 'clothing', 'designing', 'cup', 'jewellery', 'academy', 'coaching',
       'photography', 'agency', 'dress', 'cricket', 'trainer', 'bakery', 'umbrella', 'travel', 'handcrafted', 'imagiminds',
       'school', 'macrame', 'paper', 'sculpture', 'jute', 'catering', 'yoga', 'website', 'app', 'finance', 'sdgs', 'blog',
       'workshops', 'workshop', 'dresses', 'safety', 'plume', 'speaker', 'entrepreneurship', 'training', 'marketer',
        'indulging', 'cityspeaks', 'thinktank', 'research', 'advisor', 'film', 'beauty', 'homemy', 'kurtis', 'stitched',
       'crocheted', 'maskcrochet', 'growthhacker', 'mentors', 'schools', 'colleges', 'vlog', 'naughtyandcurly', 'artisans',
       'blouse', 'stitching', 'crochet', 'veg', 'masala', 'emancipation', 'diy', 'gift', 'wedding', 'perfume', 'fragrance',
       'cofounder', 'uaceit', 'elearning', 'portal', 'wellness', 'organisation', 'termed', 'miracle', 'berry', 'nutritional',
       'property', 'ecommerce', 'platform', 'trendy', 'fashionabletraditional', 'bussins', 'ground', 'water', 'management',
       'cake', 'shop', 'franchise', 'chemicalfree', 'grain', 'dissertation', 'freelancer', 'teacher', 'agriculture',
       'marginalised', 'coining', 'cafeteria', 'firm', 'fitness', 'fmcg', 'tutor', 'mba', 'seizing', 'game', 'designer',
       'health', 'foods', 'ayurvedic', 'household', 'writing', 'marketingweb', 'co', 'founder', 'manzil', 'band', 'society',
       'handicraft', 'store', 'chole', 'bhature', 'delivery', 'educationist', 'btob', 'indiago', 'youtube', 'penetrating',
       'market', 'stock', 'exchange', 'educating', 'material', 'mentor', 'college', 'artisan', 'industries', 'client',
        'spices', 'entreprenures', 'forums', 'crafts', 'buyers', 'sales', 'scriptures', 'mystics', 'taboos', 'blogs', 'cups',
       'plates', 'organisations', 'videos', 'topics', 'functions', 'donors', 'funds', 'spice', 'survey', 'buyer', 'outfit',
       'aspirant', 'scripture', 'mystic', 'donor', 'fund', 'topic', 'organisation', 'plate', 'taboo']

In [31]:
def replace(text):
    text = [word.lower() for word in text.split() if word in diff_work]
    return " ".join(text)

In [32]:
df['startup'] = df['startup'].apply(replace)

In [33]:
df.head()

,Timestamp,Full Name,City,Start-up,startup
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,make handmade products home related knitted dr...,dress jewellery
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,craft based product design,craft design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,working professional,
3,2020-08-20 18:21:00.268,Monika,Chennai,really new idea,
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,working road safety startup,safety

In [34]:
df['City'] = df['City'].str.lower().str.strip()

In [35]:
df['City'].unique()

array(['bareilly', 'sagar', 'pune', 'chennai', 'mumbai', 'new delhi',
       'jabalpur', 'bangalore', 'ghaziabad', 'guwahati', 'hyderabad',
       'london', 'vadodara', 'visakhapatnam', 'hoshangabad m.p.',
       'chintamani', 'udaipur', 'nagpur', 'hyd', 'lucknow', 'moradabad',
       'noida', 'kurukshetra', 'ponda goa', 'yamunanagar', 'jagdalpur',
       'raigad', 'nashik', 'delhi', 'amritsar', 'kolkata',
       'south west delhi', 'banglore', 'dehradun', 'patna', 'indore',
       'ranchi', 'tezpur', 'shillong', 'raipur', 'saharsa', 'bihar',
       'navi mumbai'], dtype=object)

In [36]:
df['City'].value_counts()

pune                16
mumbai               8
guwahati             7
new delhi            5
hyderabad            5
visakhapatnam        5
bangalore            5
delhi                4
noida                3
bihar                2
vadodara             2
lucknow              2
shillong             2
bareilly             2
tezpur               2
raipur               1
moradabad            1
jagdalpur            1
south west delhi     1
dehradun             1
kurukshetra          1
raigad               1
indore               1
saharsa              1
patna                1
ponda goa            1
nashik               1
hyd                  1
ghaziabad            1
udaipur              1
nagpur               1
sagar                1
hoshangabad m.p.     1
chennai              1
london               1
navi mumbai          1
banglore             1
jabalpur             1
chintamani           1
yamunanagar          1
ranchi               1
kolkata              1
amritsar             1
Name: City, dtype: int64

In [37]:
delhi = ['new delhi', 'south west delhi']
hyderabad = ['hyd'] 
bangalore = ['banglore']
patna = ['bihar']
hoshangabad = ['hoshangabad m.p.']
mumbai = ['navi mumbai']
ponda = ['ponda goa']

In [38]:
def rename(city):
    if city in delhi:
        newcity = 'delhi'
    elif city in hyderabad:
        newcity = 'hyderabad'
    elif city in bangalore:
        newcity = 'bangalore'
    elif city in patna:
        newcity = 'patna'
    elif city in hoshangabad:
        newcity = 'hoshangabad'
    elif city in mumbai:
        newcity = 'mumbai'
    elif city in ponda:
        newcity = 'ponda'
    else:
        newcity = city
    return newcity

In [39]:
df['City'] = df['City'].apply(rename)

In [40]:
df['City'].unique()

array(['bareilly', 'sagar', 'pune', 'chennai', 'mumbai', 'delhi',
       'jabalpur', 'bangalore', 'ghaziabad', 'guwahati', 'hyderabad',
       'london', 'vadodara', 'visakhapatnam', 'hoshangabad', 'chintamani',
       'udaipur', 'nagpur', 'lucknow', 'moradabad', 'noida',
       'kurukshetra', 'ponda', 'yamunanagar', 'jagdalpur', 'raigad',
       'nashik', 'amritsar', 'kolkata', 'dehradun', 'patna', 'indore',
       'ranchi', 'tezpur', 'shillong', 'raipur', 'saharsa'], dtype=object)

In [42]:
df['City'] = df['City'].str.capitalize()

In [43]:
df['City'].unique()

array(['Bareilly', 'Sagar', 'Pune', 'Chennai', 'Mumbai', 'Delhi',
       'Jabalpur', 'Bangalore', 'Ghaziabad', 'Guwahati', 'Hyderabad',
       'London', 'Vadodara', 'Visakhapatnam', 'Hoshangabad', 'Chintamani',
       'Udaipur', 'Nagpur', 'Lucknow', 'Moradabad', 'Noida',
       'Kurukshetra', 'Ponda', 'Yamunanagar', 'Jagdalpur', 'Raigad',
       'Nashik', 'Amritsar', 'Kolkata', 'Dehradun', 'Patna', 'Indore',
       'Ranchi', 'Tezpur', 'Shillong', 'Raipur', 'Saharsa'], dtype=object)

In [44]:
df['Name'] = df['Full Name'].str.strip().str.lower()

In [45]:
df['Name'] = df['Name'].str.capitalize()

In [46]:
df.drop('Full Name', 1, inplace=True)

In [47]:
df.head()

,Timestamp,City,Start-up,startup,Name
0,2020-08-20 16:39:50.273,Bareilly,make handmade products home related knitted dr...,dress jewellery,Mehak nayyar
1,2020-08-20 18:08:17.990,Sagar,craft based product design,craft design,Anshika jain
2,2020-08-20 18:14:07.821,Pune,working professional,,Bhairavee pradhan-nitave
3,2020-08-20 18:21:00.268,Chennai,really new idea,,Monika
4,2020-08-20 19:32:41.238,Mumbai,working road safety startup,safety,Stuti prasad

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  98 non-null     datetime64[ns]
 1   City       98 non-null     object
 2   Start-up   98 non-null     object
 3   startup    98 non-null     object
 4   Name       98 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 4.0+ KB

In [49]:
df.to_excel('women_entreprenure_cleaned.xlsx', index=False)